<%= image_tag "#{@spot.name}.jpg" %>
<p id="notice"><%= notice %></p>

<h3>Będzie tu dzisiaj:</h3>

<div id="comments">
  <% @comments.each do |comment| %>
    <%= render comment %>
  <% end %>
</div>


<%= render partial: 'comments/form' %>

<%= link_to 'Back', spots_path %>
