<div class="show-view-image">
  <%= image_tag "#{@spot.name}.jpg" %>
</div>

<% if @comment.errors.any? %>
  <p id="notice"><%= notice %></p>
<% end %>

<div id="comments">
  <% if @spot.comments.any? %>
    <h3 class="comments-header">Zostawione notki:</h3>

    <table class="table-striped">
      <% @comments.each do |comment| %>
      <hr>
      <tr>
        <%= render comment %>
      </tr>
      <% end %>
    </table>

  <% else %>
    <h3 class="comments-header">Nikt tu dziś nie jeździ</h3>
  <% end %>
  <%= link_to 'powrót', spots_path, class: "btn btn-primary button-back" %>
</div>

<%= render partial: 'comments/form' %>




